<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head"></head>


<body id="page-top">

<nav th:replace="fragments::navAdmin"></nav>

<section class="masthead pt-lg-5">
    <div class="container-fluid" style="background-color: #1cb1f5">

        <div class="container d-flex h-100 align-items-center" style="background-color: #1c7430">
            <div class="mx-auto text-center">
                <div class="box">
                    <h2>Dodaj raport:</h2>
                    <form th:action="@{/reportupload}" method="post" enctype="multipart/form-data">
                        <div class="inputBox" th:object="${report}">
                            <input type="text" name="reportName" required value=""
                                   onkeyup="this.setAttribute('value', this.value);" th:field="*{reportName}"/>
                            <input type="hidden" name="userId" id="customerId" th:value="${customerId}"/>
                            <label>Nazwa raportu:</label>
                        </div>

                        <div class="text-white pb-lg-5">
                            <input type="file" name="document" accept="pdf" required multiple/>
                        </div>
                        <input type="submit" name="sign-in" value="Zapisz">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section th:replace="fragments::contact"></section>
<!-- Footer-->
<footer th:replace="fragments::footer"></footer>
<!-- Bootstrap core JS-->

<script th:insert="fragments::script"></script>

</body>
</html>
