<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head"></head>

<body id="page-top">
<nav th:replace="fragments::navAdmin"></nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div class="box img-fluid">
                <h2>TWORZENIE PROFILU UŻYTKOWNIKA</h2>
                <form th:action="@{/adduser}" method="post" enctype="multipart/form-data" th:object="${User}">
                    <div class="inputBox">
                        <input type="text" name="login" required onkeyup="this.setAttribute('value', this.value);"
                               th:field="*{login}"/>
                        <label>Nadaj Login</label>
                    </div>

                    <div class="inputBox">
                        <input type="password" name="password" required value=""
                               onkeyup="this.setAttribute('value', this.value);" th:field="*{password}"/>
                        <label>Nadaj Hasło</label>
                    </div>

                    <div class="inputBox">
                        <input type="text" name="sheetName" th:field="*{sheetName}"/>
                        <label>Nazwa Arkusza</label>
                    </div>
                    <div class="text-white pb-lg-5">
                        <input type="file" name="document" accept="image/*"/>
                    </div>
                    <div class="d-block pb-lg-5 pt-lg-5 text-white">
                        <label>Poziom dostępu:</label>
                        <input type="radio" name="role" th:field="*{role}" value="ROLE_ADMIN"/> ADMIN
                        <input type="radio" name="role" th:field="*{role}" value="ROLE_CUSTOMER"/> KLIENT
                    </div>

                    <input type="submit" name="sign-in" value="Utwórz">
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Contact-->
<section th:replace="fragments::contact"></section>
<!-- Footer-->
<footer th:replace="fragments::footer"></footer>
<!-- Bootstrap core JS-->

<script th:insert="fragments::script"></script>
</body>
</html>
