<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments::head"></head>


<body id="page-top">
<nav th:replace="fragments::navCustomer"></nav>
<!-- Masthead-->
<section class="customer-section">

</section>
<section>

    <div class="container-fluid">
        <!--<div class="container" style="position: center">-->
<!--        style="justify-content: center;"-->
        <div class="row">

            <div class="container col-lg-4" style="background-color: white">
                <div class="card border-0" style="background-color: transparent; ">
                    <div class="card-body text-center">
                        <a th:href="@{/getsheet/{range}/(range=${sheetName})}"><img
                                th:src="@{/images/strategyIconNew.png}" class="img-fluid"/></a>
                    </div>
                </div>
            </div>

            <div class="container col-lg-4" style="background-color: white">
                <div class="card border-0" style="background-color: transparent; ">
                    <div class="card-body text-center">
                        <a th:href="@{/getsheet/{range}/(range=${sheetName})}"><img
                                th:src="@{/images/photoIcon.png}" class="img-fluid"/></a>
                    </div>
                </div>
            </div>

            <div class="container col-lg-4" style="background-color: white">
                <div class="card border-0" style="background-color: transparent; ">
                    <div class="card-body text-center">
                        <a th:href="@{/getsheet/{range}/(range=${sheetName})}"><img
                                th:src="@{/images/reportsIcon.png}" class="img-fluid"/></a>
                    </div>
                </div>
            </div>

        </div>
    </div>



</section>
<!--</div>-->


<!-- Contact-->
<section th:replace="fragments::contact"></section>
<!-- Footer-->
<footer th:replace="fragments::footer"></footer>
<!-- Bootstrap core JS-->

<script th:insert="fragments::script"></script>


</body>
</html>
