<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head"></head>

<body id="page-top">

<nav th:replace="fragments::navAdmin"></nav>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <div class="box">
                <div class="text-center pb-4">
                <h2>EDYCJA PROFILU UŻYTKOWNIKA</h2>
                <h6>Uzupełnij tylko te pola, gdzie dane chcesz zmienić!</h6>
                </div>
                <form th:action="@{/updateuser}" method="post" th:object="${userUpdate}" enctype="multipart/form-data">
                    <div class="inputBox">
                        <input type="hidden" name="id" required onkeyup="this.setAttribute('value', this.value);"
                               th:field="*{id}"/>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="login" required value="" onkeyup="this.setAttribute('value', this.value);"
                               th:field="*{login}"/>
                        <label>Nadaj Nowy Login</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password"  value=""
                               onkeyup="this.setAttribute('value', this.value);" th:field="*{password}"/>
                        <label>Nadaj Nowe Hasło - możesz pozostawić puste!</label>
                    </div>

                    <div class="inputBox">
                        <input type="text" name="sheetName" value=""
                               onkeyup="this.setAttribute('value', this.value);" th:field="*{sheetName}"/>
                        <label>Nowa Nazwa Arkusza</label>
                    </div>
                    <div class="text-white pb-lg-5">
                        <input type="file" name="document" accept="image/*"/>
                    </div>

                    <div class="d-block pb-lg-5 pt-lg-5 text-white">
                        <label>Poziom dostępu:</label>
                        <input type="radio" name="role" th:field="*{role}" value="ROLE_ADMIN"/> ADMIN
                        <input type="radio" name="role" th:field="*{role}" value="ROLE_CUSTOMER"/> KLIENT
                    </div>

                    <input type="submit" name="sign-in" value="Utwórz" style="background-color: yellow; color: black">
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Contact-->
<section th:replace="fragments::contact"></section>
<!-- Footer-->
<footer th:replace="fragments::footer"></footer>
<!-- Bootstrap core JS-->

<script th:insert="fragments::script"></script>
</body>
</html>
